// GOOGLE API FONTS
// Titles
$gnomeFont: "Amarante", cursive;
$kingdomFont: "Lobster Two", cursive;
$childFont: "Frijole", cursive;
$takerFont: "Alegreya Sans SC", sans-serif;
$blocksFont: "Plaster", cursive;

// Hand written
$handFont: "Indie Flower", cursive;
$pilotFont: "Architects Daughter", cursive;
$compressedFont: "Yanone Kaffeesatz", sans-serif;

// Common text
$ubuntuFont: "Ubuntu", sans-serif;
$latoFont: "Lato", sans-serif;
$montserrayFont: "Montserrat", sans-serif;
$sansProFont: "Source Sans Pro", sans-serif;
