// Escala de grises
$white: #ffffff;
$light-hover-grey: #f2f2f2;
$blued-grey: #f2f8fc;
$f5: #f5f5f5;
$fafa: #fafafa;
$lighter-grey: #e6e6e6;
$silver: #cccccc;
$red-grey: #ccbdbd;
$simple-grey: #dcdcdc;
$mercury: #e5e5e5;
$dusty-gray: #999999;
$color-dark-grey: #767676;
$gray: #7f7f7f;
$darker-grey: #737373;
$scorpion: #5f5f5f;
$grey: #343c3d;
$mine-shaft: #333333;
$black: #000000;

$fondo-claro: #f1f3f5;
$plata: #e3e4e5;
$letra-gris: #bfbfbf;
$gris-hierro: #434b4d;
$black: #101820ff;

// Colores pastel
$lavander: rgba(196, 183, 203, 1);
$silver: rgba(187, 199, 206, 1);
$blue: rgba(191, 237, 239, 1);
$mint: rgba(152, 226, 198, 1);
$ebony: rgba(84, 92, 82, 1);

// Colores vivos
$verdeVivo: #75e4b3;
$rosaVivo: #d64b6b;
$indian: rgba(213, 91, 91, 1);
$piggy: rgba(251, 225, 229, 1);
$bottle: rgba(14, 99, 72, 1);
$acid: rgba(255, 255, 0, 1);
$fuccia: #d400ff;
$blau: #00bff3;
$grog: #ffc618;
$rosa: #ff87bb;
$radioactio: #5fff38;
$pinkLady: rgb(236, 6, 225);
$azulOscuro: #003d78;
$logo: rgba(209, 95, 76, 1);
$brick: #b73239;
$amarillo: #fee715ff;
$lila: #4255fe;
$whatsapp: #25d366;
$purpura: #6e6ee6;
$coral: #e4717a;
$salmon: #ffb894;
$weed: #6bcc4e;
$weedSeca: #64b34d;
$pollo: #ffe77a;
$vanilla: #f0e1b9ff;
$goldFinch: #f3db74ff;
$scarlet: #a13941ff;
$wood: #deb887;

// Tonos azules
$blue: #1c3ed3;
$azulOscuro: #204380;
$azulClaro: #a1c3ff;
$azulVivo: #4086ff;
$azulApagado: #2e4f8a;
$azulNeutro: #336bcc;
$azulMuyOscuro: #1f1f40;
$azulGoogle: #41a3f2;

// Sombras
$nice-shadow: 0px 1px 20px 4px rgba(0, 0, 0, 0.1);
$thin-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.13);
$dark-shadow: 0px 8px 21px -6px rgba(0, 0, 0, 0.25);
$big-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
